body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

#canvas-div {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url('/media/bg/black/gradient_black_50.png');
}

#bg-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#upper {
    position: relative;
    height: 100vh;
}

.nav-links {
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: black;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: 	#5A5A5A;
    text-decoration: none;
}

.nav-link-right {
    float: right;
}

#header-div {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
    position: relative;
}

.header-name {
    font-size: 100px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color:black
}

#last-name {
    margin-left: 70px;
}

@media screen and (max-width: 600px) {

    #header-div {
        padding-top: 50%;
        padding-left: 15%;
        position: relative;
    }

    #first-name {
        font-size: 50px;
    }

    #last-name {
        margin-left: 0px;
        font-size: 50px;
    }

    .nav-links {
        font-size: 15px;
    }
}

#projects-div {
    background-color: black;
    color: white;
    position: relative;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.project-row {
    padding-top: 5%;
    padding-bottom: 5%;
}

.project-card {
    margin: 5%;
}

.project-tech-used {
    opacity: 0.75;
}

.check-it-out {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: white;
}

#view-more-projects {
    padding: 30px 0px 40px 0px;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    color: white;
}

#view-more-projects a {
    color: white;
}

#tech-div {
    background-color: black;
    color: white;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.tech-row {
    padding-top: 3%;
    padding-bottom: 3%;
}

#contact-div {
    color: black;
    position: relative;
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

.contact-icon {
    width: 40px;
}

.contact-link {
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: black;
}

.contact-link a {
    padding: 0px 15px 0px 15px;
    color: black;
}

@media screen and (max-width: 600px) {
    .contact-icon {
        width: 25px;
    }

    .contact-link {
        font-size: 20px;
    }

    footer {
        font-size: 13px;
    }
}

.screen-break {
    height: 50vh;
    width: 100%;
}

